/* .reviews_blockwithtext {
    width: 295px;
    border: 1px solid red;
}

.reviews_title {
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    color: #393939;
}

.reviews_company {
    color: #00B67A;
}

.reviews_text {
    margin: 0;
} */